main{

    display: block;
    max-width: 800px;
    padding: 15px;
    margin: 0px auto 30px auto;
    // border: 1px solid black;

    @import "./cards/_cup.scss";
    @import "./bp/businessPage.scss";

}