$primary_color: rgb(33, 33, 33);

@mixin ingredientItem {
}

.businessPortal {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .bpViewSelect {
    .bpWelcome {
      font-family: $font_1;
      font-size: 2rem;
      padding: 1rem;
    }
    button {
      margin: 0.5rem;
    }
  }

  .bpViewIngredients {
    .bpAvailable {
      h3 {
        font-family: $font_1;
        font-size: 1.8rem;
        text-align: center;
        padding: 0.6rem;
      }
      ul {
        li {
          padding: 0.1rem;
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .bpActions {
      h3 {
        margin: 0.5rem;
        text-align: center;
      }
      .bpForm {
        display: flex;
        flex-direction: column;
        border: 1px solid grey;
        padding: 0.6rem;

        .newTypeLabel {
          margin: 0 auto;
          width: 60%;
          text-align: center;

          p {
            display: flex;
            justify-content: space-evenly;
            input {
              margin: auto 0;
              width: fit-content;
            }
          }
        }
      }
      select {
        margin: 0.2rem;
      }
      input {
        margin: 0.2rem;
      }
      .newNameLabel {
        margin: 0 auto;
        width: 50%;
        text-align: center;
      }
      .newVeganLabel {
        margin: 0 auto;
        width: 50%;
        text-align: center;
      }
      .newPriceLabel {
        display: flex;
        margin: 0 auto;
        width: 60%;
        p {
          min-width: fit-content;
          margin: auto 0;
        }
        input {
          margin: auto 0;
          width: 27%;
        }
      }
    }
  }

  .bpViewDrinks {
    padding: 0.4rem;
    .bpDrinkTemplates {
      border: 1px solid grey;
      padding: 0.5rem;

      h3 {
        font-size: 1.4rem;
      }

      .bpDrinkTemplateCardBox {
        margin: 1rem 0;
        padding: 0.5rem 0;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;

        .bpDrinkTemplateCard {
          h5 {
            text-align: center;
          }
          p {
            font-size: 0.5rem;
          }
          h6 {
            font-size: 0.8rem;
          }
          ul {
            li {
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }
    }
  }
}
