/* Ingredient Vars */
$color_base: radial-gradient(
    #2e1f15 0%,
    #2e1f15 50%,
    #000000 100%);
$height_base: 60%;

$color_main: radial-gradient(
    #ffffff 0%,
    #ffffff 50%,
    #000000 100%);
$height_main: 12%;

$color_flavor: radial-gradient(
    #661133 0%,
    #661133 50%,
    #000000 100%);
$height_flavor: 10%;

$color_topping: radial-gradient(
    #90d6d6 0%,
    #90d6d6 50%,
    #000000 100%);
$height_topping: 8%;



/* Inherited Vars */
// $cup_curve

div.ingredient {
    display: flex;
    align-items: center;        // Horizontal
    justify-content: center;    // Vertical

    width: 100%;
    min-height: 7%;
    margin-top: -10px;
    padding-top: 5px;

    border-bottom-left-radius: $cup_curve;
    border-bottom-right-radius: $cup_curve;
    color: $font-white;
    overflow: hidden;
    
    &.base{
        height: $height_base;
        background: $color_base;
        @include pourin($height_base);
    }
    &.main{
        height: $height_main;
        background: $color_main;
        color: $font-black;
        @include pourin($height_main);
    }
    &.flavor{
        height: $height_flavor;
        background: $color_flavor;
        @include pourin($height_flavor);
    }
    &.topping{
        height: $height_topping;
        background: $color_topping;
        @include pourin($height_topping);
    }

    // Percentage based heights for dynamic calculations
    @for $i from 2 through 20{
        &.percent-#{$i * 5} { 
            height: #{$i * 5%};
        }
    }

    span{
        position:relative;

        &::after{
            position: relative;
            top: 0px;
            right:-5px;
            font-size: 90%;
            @include icon('minus', 900);
        }

        &:hover, &:focus{
            color: $color-primary1;
            //text-shadow: 0 0 3px $font-white;
            font-weight: 600;

            &::after{
                color: red;
            }
        }
        
    }

}