.cup-holder{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    align-self: flex-end;

    .my-cup{

        display: flex;
        position: relative;
        flex-direction: column-reverse; // NOTE: REVERSED FOR STACKS
        align-items: center;            // Horizontal (as Column)
        justify-content: flex-start;    // Vertical (as Column)
        // align-content: space-between;  // Distance apart
        
        padding: #{$cup_lip + 10px} 0px 5px;
        background: $color_cup;

        border-bottom-left-radius: $cup_curve;
        border-bottom-right-radius: $cup_curve;
        @include shadow(bottom);
        
        &.cup-8oz{
            height: 300px;
            width: 250px;
        }
        &.cup-12oz{
            height: 400px;
            width: 300px;
        }
        &.cup-16oz{
            height: 500px;
            width: 300px;
        }

        transition: height .5s ease, width .5s ease;

        // Left side skew
        &::before{
            content: "";
            position: absolute;
            z-index: 1;
            height: calc(100% - #{$cup_lip});
            width: 20%;
            top: $cup_lip;
            left: -13%;
            background-color: $background-light;
            transform: skewX(3deg);
        }
        &::after{
            content: "";
            position: absolute;
            z-index: 1;
            height: calc(100% - #{$cup_lip});
            width: 20%;
            top: $cup_lip;
            right: -13%;
            background-color: $background-light;
            transform: skewX(-3deg);
        }

        @import "_cupIngredient.scss";

    }
}