$cup_lip_small: 7px;

.cup-holder{
    display: flex;
    flex-flow: column wrap;
    align-items: center;        // Horizontal while column wrap
    justify-content: center;    // ? 
    align-content: center;      // ?  

    width: 50%;
    margin: 10px;
    padding: 20px;
    // border: 1px solid black;

    p.error{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;

        width: 130px;
        height: 130px;
        padding: 5px 0px 0px 0px;
        border-radius: 50%;
        
        background: rgb(173, 12, 12);
        color: white;
        text-align: center;
        font-weight: 400;
    }
    

    .my-cup{

        display: flex;
        position: relative;
        flex-direction: column-reverse; // NOTE: REVERSED FOR STACKS
        align-items: center;            // Horizontal (as Column)
        justify-content: flex-start;    // Vertical (as Column)
        // align-content: space-between;  // Distance apart
        
        padding: #{$cup_lip_small + 10px} 0px 5px;
        background: $color_cup;

        border-bottom-left-radius: $cup_curve;
        border-bottom-right-radius: $cup_curve;
        @include shadow(bottom);
        
        &.cup-8oz{
            height: 230px;
            width: 160px;
        }
        &.cup-12oz{
            height: 260px;
            width: 175px;
        }
        &.cup-16oz{
            height: 300px;
            width: 175px;
        }

        transition: height .5s ease, width .5s ease;

        // Left side skew
        &::before{
            content: "";
            position: absolute;
            z-index: 1;
            height: calc(100% - #{$cup_lip});
            width: 20%;
            top: $cup_lip_small;
            left: -13%;
            background-color: $background-light;
            transform: skewX(3deg);
        }
        &::after{
            content: "";
            position: absolute;
            z-index: 1;
            height: calc(100% - #{$cup_lip_small});
            width: 20%;
            top: $cup_lip_small;
            right: -13%;
            background-color: $background-light;
            transform: skewX(-3deg);
        }

        @import "_profileCupIngredients.scss";

    }

    h3{
        display: block;
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }
}

@media screen and (max-width: $breakpoint_mobile){
    .cup-holder {
        display: none;
    }
}