// Cup Vars
$cup_lip: 15px;
$cup_curve: 100% 32px; // Meniscus

//$color_cup: #E0DDB0;
$color_cup: linear-gradient(121deg,
#E0DDB0 0%,
#E0DDB0 41%,
#000000 100%);

&.newdrink{

    @import "../cards/_cup.scss";
    @import "../cards/_ingredientMenu.scss";

    input {
        display: block;
        position:absolute;
        bottom: 10px;
        margin-right: auto;
        left: 0;
        right: 0;

        @include prettyfield(input, solo);
    }

}
