// Cup Vars
$cup_lip: 15px;
$cup_curve: 100% 32px; // Meniscus

//$color_cup: #E0DDB0;
$color_cup: linear-gradient(121deg,
#E0DDB0 0%,
#E0DDB0 41%,
#000000 100%);

&.newdrink{
    display: flex;
    min-height: 620px;

    @import "../cards/_cup.scss";
    @import "../cards/_ingredientMenu.scss";

    input {
        display: block;
        position:absolute;
        bottom: 30px;
        margin-right: auto;
        left: 0;
        right: 0;

        @include prettyfield(input, solo);
    }

    .drink-mod-block{
        display: block;
        position:absolute;
        right:15px;
        top: 15px;
        z-index: 5;

        transition: top .5s ease, bottom .5s ease;

        button{
            display: block;
            margin-bottom: 10px;
            padding-top: 4px;
            width: 50px;
            height: 50px;
            border: none;
            border-radius: 50%;
            background-color: $color-primary1;
            font-size: 190%;
            color: $font-white;
            
            @include shadow(bottomright);

            &.drink-save{
                &:after{
                    @include icon(save);
                }
            }

            &.drink-size-increase{
                &:after{
                    @include icon(grow, 900);
                }
            }

            &.drink-size-decrease{
                &:after{
                    @include icon(shrink, 900);
                }
            }

            &:hover, &:focus{
                background: $color-primary3;
            }

            &:disabled{
                background: $font-grey;
                box-shadow: none;
            }
        }
    }

    @media screen and (max-width: $breakpoint_mobile){
        .drink-mod-block{
            top: unset;
            bottom: 125px;
        }
    }

}
