&.login-page {
    display:flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    height:100%;
    width: 100%;
    max-width: unset;
    max-height: unset;
    margin:0px;
    padding: 0px;

    background: $color-primary1;

    div.login-window{

        display:flex;
            flex-direction: column;
            align-items: center;
            align-content: flex-start;
            justify-content: center;

        max-width: 800px;
        margin: 0px auto;

        img.logo{
            display:block;
            width:200px;
            height:200px;
            margin-top: -150px;

            @include animate(logo);
        }

        h1{
            font-size:150%;
            color: $font-white;
            font-family: $font_2;
            margin-bottom: 30px;
        }

        input, button{
            display: block;
            width: 50%;
            min-width: 200px;
            margin: 15px auto;
            line-height: 18px;

            padding: 5px;
            border: none;
            border-radius: 10px;

            &:focus, &:hover, &:focus-visible, &:focus-within {
                @include shadow(input);
                outline: none;
                border: none;
            }
        }

        button{
            color: $font-white;
            font-weight: 600;
            background: $color-primary2;

            &:focus, &:hover, &:focus-visible, &:focus-within {
                background: $font-white;
                color: $color-primary3;
            }
        }

    }
    

    
}
