/** BRAND COLORS **/

$color-primary1: #00aabb;
$color-primary2: #412919;
$color-primary3: #4800aa;

$font-white: #FFFFFF;
$font-black: #000000;
$font-grey: #555555;

$background-light: #FFFFFF;
$background-dark: #000000;
