@mixin shadow($location) {

    @if $location == top {
        box-shadow: inset 7px 14px 15px -10px black;
    }
    
    @else if $location==bottom {
        box-shadow: 0px 20px 15px -23px black;
    }
    
    @else if $location==bottomright {
        box-shadow: 5px 5px 7px 0px black;
    }
    
    @else if $location==icon {
        box-shadow: 5px 10px 8px -5px black;
    }

    @else if $location==input {
        box-shadow: 3px 3px 5px 0px $color-primary3,
                    3px -3px 5px 0px $color-primary3,
                    -3px 3px 5px 0px $color-primary3,
                    -3px -3px 5px 0px $color-primary3;
    }

}

@mixin animate($type){

    @if $type==logo{
        animation: tilt_left 5s infinite;
        transition: animation 5s;
    }
}

@keyframes tilt_left {
	30% {
        transform: rotate(0);
        animation-timing-function: ease-out;
	}
    50%{
        transform: rotate(-45deg);
        animation-timing-function: ease;
    }
    80%{
        transform: rotate(-45deg);
        animation-timing-function: ease-out;
    }
    100%{
        transform: rotate(0);
        animation-timing-function: ease;
    }
}

$breakpoint_mobile: 480px;
$breakpoint_small: 800px;
$breakpoint_medium: 950px;