/** Reset All Styles **/
@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Lemonada:wght@300&family=Medula+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%; }

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit; }

ol,
ul {
  list-style: none; }

/** Variable files (Some Brand Specific) **/
/** BRAND COLORS **/
/** GLOBAL FONTS **/
/** SPRITES **/
@keyframes tilt_left {
  30% {
    transform: rotate(0);
    animation-timing-function: ease-out; }
  50% {
    transform: rotate(-45deg);
    animation-timing-function: ease; }
  80% {
    transform: rotate(-45deg);
    animation-timing-function: ease-out; }
  100% {
    transform: rotate(0);
    animation-timing-function: ease; } }

/** RESPONSIVE BREAKPOINTS **/
/** Overwrite for React root **/
html, body, .App, #root, .root {
  width: 100%;
  height: 100%; }

/** Page Elements **/
body {
  font-size: 18px;
  font-family: "Arimo", sans-serif;
  /** <header> **/
  /** <main> **/
  /** <footer> **/ }

body h1 {
  font-size: 150%;
  margin-bottom: 20px; }

body h2 {
  font-size: 140%;
  margin-bottom: 15px; }

body h3 {
  font-size: 130%;
  margin-bottom: 5px; }

body header {
  display: block;
  position: relative;
  width: 100%;
  background-color: #00aabb;
  height: 150px;
  margin-bottom: 0px; }

body header a.logo {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 99;
  width: 120px;
  height: 120px;
  border-radius: 50% 50% 50% 50%;
  background: #00aabb url("../images/logo_bold.png") no-repeat center/cover;
  box-shadow: 5px 10px 8px -5px black; }

body header a.logo:hover, body header a.logo:focus {
  background: #00aabb url("../images/logo_bold_white.png") no-repeat center/cover; }

body header nav {
  display: block;
  position: relative;
  top: 2px;
  z-index: 4;
  width: 100%;
  height: 100%;
  padding: 35px 15px 15px 150px;
  background-color: #FFFFFF;
  border-radius: 400px 0px 0px 0px / 100% 0px 0px 0px;
  box-shadow: inset 7px 14px 15px -10px black; }

body header nav ul {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  align-content: center; }

body header nav ul li {
  margin: 3px;
  text-align: center;
  font-family: "Medula One", cursive;
  font-size: 160%;
  flex: 1 1 60px; }

body header nav ul li a, body header nav ul li button {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 100%;
  min-width: 60px;
  background: #412919;
  color: #FFFFFF;
  white-space: nowrap;
  text-decoration: none;
  border-radius: 10px;
  padding: 3px;
  box-shadow: 5px 5px 7px 0px black; }

body header nav ul li a:hover, body header nav ul li a:focus, body header nav ul li button:hover, body header nav ul li button:focus {
  background: #4800aa;
  cursor: pointer; }

@media screen and (max-width: 480px) {
  body header nav ul li {
    font-size: 140%; } }

@media screen and (min-width: 800px) {
  body header nav ul li a, body header nav ul li button {
    height: 70px; } }

body main {
  display: block;
  position: relative;
  max-width: 800px;
  padding: 15px;
  padding-bottom: 100px;
  margin: 0px auto 0px auto; }

body main span.username {
  text-transform: capitalize;
  color: #00aabb; }

body main.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: unset;
  max-height: unset;
  margin: 0px;
  padding: 0px;
  background: #00aabb; }

body main.login-page div.login-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  max-width: 800px;
  margin: 0px auto; }

body main.login-page div.login-window img.logo {
  display: block;
  width: 200px;
  height: 200px;
  margin-top: -150px;
  animation: tilt_left 5s infinite;
  transition: animation 5s; }

body main.login-page div.login-window h1 {
  color: #FFFFFF;
  font-family: "Lemonada", cursive;
  margin-bottom: 30px;
  text-align: center; }

body main.login-page div.login-window h3 {
  text-align: center; }

body main.login-page div.login-window input {
  display: block;
  width: 50%;
  min-width: 200px;
  margin: 15px auto;
  line-height: 18px;
  padding: 5px;
  border-radius: 10px;
  border: none; }

body main.login-page div.login-window input:focus, body main.login-page div.login-window input:hover, body main.login-page div.login-window input:focus-visible, body main.login-page div.login-window input:focus-within {
  box-shadow: 3px 3px 5px 0px #4800aa, 3px -3px 5px 0px #4800aa, -3px 3px 5px 0px #4800aa, -3px -3px 5px 0px #4800aa;
  outline: none; }

body main.login-page div.login-window input:-internal-autofill-selected {
  appearance: menulist-button;
  background-color: unset !important; }

body main.login-page div.login-window button {
  display: block;
  width: 50%;
  min-width: 200px;
  margin: 15px auto;
  line-height: 18px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  border: none;
  color: #FFFFFF;
  font-weight: 600;
  background: #412919; }

body main.login-page div.login-window button:focus, body main.login-page div.login-window button:hover, body main.login-page div.login-window button:focus-visible, body main.login-page div.login-window button:focus-within {
  box-shadow: 3px 3px 5px 0px #4800aa, 3px -3px 5px 0px #4800aa, -3px 3px 5px 0px #4800aa, -3px -3px 5px 0px #4800aa;
  outline: none;
  border: none;
  background: #FFFFFF;
  color: #4800aa; }

body main.login-page div.login-window button:-internal-autofill-selected {
  appearance: menulist-button;
  background-color: unset !important; }

body main.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center; }

body main.landing-page h1 {
  font-size: 200%;
  color: #412919;
  text-align: center; }

body main.landing-page h1 span.username {
  color: #00aabb;
  text-transform: capitalize; }

body main.landing-page h2 {
  margin-bottom: 30px;
  color: #00aabb;
  text-align: center; }

body main.landing-page a {
  text-align: center;
  text-decoration: none;
  display: block;
  width: 50%;
  min-width: 200px;
  margin: 15px auto;
  line-height: 18px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  font-weight: 600;
  background: #412919;
  background: #4800aa; }

body main.landing-page a:focus, body main.landing-page a:hover, body main.landing-page a:focus-visible, body main.landing-page a:focus-within {
  box-shadow: 3px 3px 5px 0px #4800aa, 3px -3px 5px 0px #4800aa, -3px 3px 5px 0px #4800aa, -3px -3px 5px 0px #4800aa;
  outline: none;
  border: none;
  background: #FFFFFF;
  color: #4800aa; }

body main.landing-page a:-internal-autofill-selected {
  appearance: menulist-button;
  background-color: unset !important; }

body main.newdrink {
  display: flex;
  min-height: 620px;
  /** Wonky Shit **/ }

body main.newdrink .cup-holder {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  align-self: flex-end; }

body main.newdrink .cup-holder .my-cup {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
  padding: 25px 0px 5px;
  background: linear-gradient(121deg, #E0DDB0 0%, #E0DDB0 41%, #000000 100%);
  border-bottom-left-radius: 100% 32px;
  border-bottom-right-radius: 100% 32px;
  box-shadow: 0px 20px 15px -23px black;
  transition: height .5s ease, width .5s ease;
  /* Ingredient Vars */
  /* Inherited Vars */ }

body main.newdrink .cup-holder .my-cup.cup-8oz {
  height: 300px;
  width: 250px; }

body main.newdrink .cup-holder .my-cup.cup-12oz {
  height: 400px;
  width: 300px; }

body main.newdrink .cup-holder .my-cup.cup-16oz {
  height: 500px;
  width: 300px; }

body main.newdrink .cup-holder .my-cup::before {
  content: "";
  position: absolute;
  z-index: 1;
  height: calc(100% - 15px);
  width: 20%;
  top: 15px;
  left: -13%;
  background-color: #FFFFFF;
  transform: skewX(3deg); }

body main.newdrink .cup-holder .my-cup::after {
  content: "";
  position: absolute;
  z-index: 1;
  height: calc(100% - 15px);
  width: 20%;
  top: 15px;
  right: -13%;
  background-color: #FFFFFF;
  transform: skewX(-3deg); }

body main.newdrink .cup-holder .my-cup div.ingredient {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 7%;
  margin-top: -10px;
  padding-top: 5px;
  border-bottom-left-radius: 100% 32px;
  border-bottom-right-radius: 100% 32px;
  color: #FFFFFF;
  overflow: hidden; }

body main.newdrink .cup-holder .my-cup div.ingredient.base {
  height: 60%;
  background: radial-gradient(#2e1f15 0%, #2e1f15 50%, #000000 100%); }

body main.newdrink .cup-holder .my-cup div.ingredient.base.pour-in-enter {
  min-height: unset;
  height: 10px; }

body main.newdrink .cup-holder .my-cup div.ingredient.base.pour-in-enter-active {
  height: 60%;
  transition: height 1s ease-out; }

body main.newdrink .cup-holder .my-cup div.ingredient.base.pour-in-exit {
  min-height: unset;
  height: 60%; }

body main.newdrink .cup-holder .my-cup div.ingredient.base.pour-in-exit span {
  display: none; }

body main.newdrink .cup-holder .my-cup div.ingredient.base.pour-in-exit-active {
  height: 10px;
  transition: height 1s ease; }

body main.newdrink .cup-holder .my-cup div.ingredient.base.pour-in-exit-active span {
  display: none; }

body main.newdrink .cup-holder .my-cup div.ingredient.main {
  height: 12%;
  background: radial-gradient(#ffffff 0%, #ffffff 50%, #000000 100%);
  color: #000000; }

body main.newdrink .cup-holder .my-cup div.ingredient.main.pour-in-enter {
  min-height: unset;
  height: 10px; }

body main.newdrink .cup-holder .my-cup div.ingredient.main.pour-in-enter-active {
  height: 12%;
  transition: height 1s ease-out; }

body main.newdrink .cup-holder .my-cup div.ingredient.main.pour-in-exit {
  min-height: unset;
  height: 12%; }

body main.newdrink .cup-holder .my-cup div.ingredient.main.pour-in-exit span {
  display: none; }

body main.newdrink .cup-holder .my-cup div.ingredient.main.pour-in-exit-active {
  height: 10px;
  transition: height 1s ease; }

body main.newdrink .cup-holder .my-cup div.ingredient.main.pour-in-exit-active span {
  display: none; }

body main.newdrink .cup-holder .my-cup div.ingredient.flavor {
  height: 10%;
  background: radial-gradient(#661133 0%, #661133 50%, #000000 100%); }

body main.newdrink .cup-holder .my-cup div.ingredient.flavor.pour-in-enter {
  min-height: unset;
  height: 10px; }

body main.newdrink .cup-holder .my-cup div.ingredient.flavor.pour-in-enter-active {
  height: 10%;
  transition: height 1s ease-out; }

body main.newdrink .cup-holder .my-cup div.ingredient.flavor.pour-in-exit {
  min-height: unset;
  height: 10%; }

body main.newdrink .cup-holder .my-cup div.ingredient.flavor.pour-in-exit span {
  display: none; }

body main.newdrink .cup-holder .my-cup div.ingredient.flavor.pour-in-exit-active {
  height: 10px;
  transition: height 1s ease; }

body main.newdrink .cup-holder .my-cup div.ingredient.flavor.pour-in-exit-active span {
  display: none; }

body main.newdrink .cup-holder .my-cup div.ingredient.topping {
  height: 8%;
  background: radial-gradient(#90d6d6 0%, #90d6d6 50%, #000000 100%); }

body main.newdrink .cup-holder .my-cup div.ingredient.topping.pour-in-enter {
  min-height: unset;
  height: 10px; }

body main.newdrink .cup-holder .my-cup div.ingredient.topping.pour-in-enter-active {
  height: 8%;
  transition: height 1s ease-out; }

body main.newdrink .cup-holder .my-cup div.ingredient.topping.pour-in-exit {
  min-height: unset;
  height: 8%; }

body main.newdrink .cup-holder .my-cup div.ingredient.topping.pour-in-exit span {
  display: none; }

body main.newdrink .cup-holder .my-cup div.ingredient.topping.pour-in-exit-active {
  height: 10px;
  transition: height 1s ease; }

body main.newdrink .cup-holder .my-cup div.ingredient.topping.pour-in-exit-active span {
  display: none; }

body main.newdrink .cup-holder .my-cup div.ingredient.percent-10 {
  height: 10%; }

body main.newdrink .cup-holder .my-cup div.ingredient.percent-15 {
  height: 15%; }

body main.newdrink .cup-holder .my-cup div.ingredient.percent-20 {
  height: 20%; }

body main.newdrink .cup-holder .my-cup div.ingredient.percent-25 {
  height: 25%; }

body main.newdrink .cup-holder .my-cup div.ingredient.percent-30 {
  height: 30%; }

body main.newdrink .cup-holder .my-cup div.ingredient.percent-35 {
  height: 35%; }

body main.newdrink .cup-holder .my-cup div.ingredient.percent-40 {
  height: 40%; }

body main.newdrink .cup-holder .my-cup div.ingredient.percent-45 {
  height: 45%; }

body main.newdrink .cup-holder .my-cup div.ingredient.percent-50 {
  height: 50%; }

body main.newdrink .cup-holder .my-cup div.ingredient.percent-55 {
  height: 55%; }

body main.newdrink .cup-holder .my-cup div.ingredient.percent-60 {
  height: 60%; }

body main.newdrink .cup-holder .my-cup div.ingredient.percent-65 {
  height: 65%; }

body main.newdrink .cup-holder .my-cup div.ingredient.percent-70 {
  height: 70%; }

body main.newdrink .cup-holder .my-cup div.ingredient.percent-75 {
  height: 75%; }

body main.newdrink .cup-holder .my-cup div.ingredient.percent-80 {
  height: 80%; }

body main.newdrink .cup-holder .my-cup div.ingredient.percent-85 {
  height: 85%; }

body main.newdrink .cup-holder .my-cup div.ingredient.percent-90 {
  height: 90%; }

body main.newdrink .cup-holder .my-cup div.ingredient.percent-95 {
  height: 95%; }

body main.newdrink .cup-holder .my-cup div.ingredient.percent-100 {
  height: 100%; }

body main.newdrink .cup-holder .my-cup div.ingredient span {
  position: relative; }

body main.newdrink .cup-holder .my-cup div.ingredient span::after {
  position: relative;
  top: 0px;
  right: -5px;
  font-size: 90%;
  font-family: "Font Awesome 6 Pro";
  font-weight: 900;
  content: '\f056'; }

body main.newdrink .cup-holder .my-cup div.ingredient span:hover, body main.newdrink .cup-holder .my-cup div.ingredient span:focus {
  color: #00aabb;
  font-weight: 600; }

body main.newdrink .cup-holder .my-cup div.ingredient span:hover::after, body main.newdrink .cup-holder .my-cup div.ingredient span:focus::after {
  color: red; }

body main.newdrink section.ingredientList {
  background: #FFFFFF;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 50;
  width: 300px;
  height: 450px;
  padding: 0px 0px 0px 15px;
  overflow: hidden;
  border: 3px #00aabb solid;
  border-radius: 30px;
  box-shadow: 5px 5px 7px 0px black;
  transition: left 1s ease, width .5s ease; }

body main.newdrink section.ingredientList .anti-scroll {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 25px;
  box-sizing: content-box; }

body main.newdrink section.ingredientList ul {
  margin: 20px 0px 30px 0px;
  padding-right: 10px; }

body main.newdrink section.ingredientList ul label {
  display: block;
  width: 100%;
  padding: 3px;
  margin-bottom: 20px;
  border-radius: 20px;
  background: linear-gradient(#FFFFFF 0%, #00aabb 100%);
  color: #412919;
  text-align: center;
  text-transform: uppercase;
  font-size: 130%;
  font-weight: 600;
  font-family: "Lemonada", cursive;
  box-shadow: 5px 5px 7px 0px black; }

body main.newdrink section.ingredientList ul li {
  padding: 8px 0px 8px 35px;
  margin-bottom: 10px;
  font-weight: 600;
  white-space: nowrap; }

body main.newdrink section.ingredientList ul li.ingredient-bean-0 {
  background-image: url("../images/sprites/bean_0.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px; }

body main.newdrink section.ingredientList ul li.ingredient-bean-1 {
  background-image: url("../images/sprites/bean_1.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px; }

body main.newdrink section.ingredientList ul li.ingredient-bean-2 {
  background-image: url("../images/sprites/bean_2.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px; }

body main.newdrink section.ingredientList ul li.ingredient-bean-3 {
  background-image: url("../images/sprites/bean_3.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px; }

body main.newdrink section.ingredientList ul li.ingredient-leaf-0 {
  background-image: url("../images/sprites/leaf_0.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px; }

body main.newdrink section.ingredientList ul li.ingredient-leaf-1 {
  background-image: url("../images/sprites/leaf_1.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px; }

body main.newdrink section.ingredientList ul li.ingredient-leaf-2 {
  background-image: url("../images/sprites/leaf_2.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px; }

body main.newdrink section.ingredientList ul li.ingredient-liquid-0 {
  background-image: url("../images/sprites/liquid_0.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px; }

body main.newdrink section.ingredientList ul li.ingredient-liquid-1 {
  background-image: url("../images/sprites/liquid_1.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px; }

body main.newdrink section.ingredientList ul li.ingredient-liquid-2 {
  background-image: url("../images/sprites/liquid_2.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px; }

body main.newdrink section.ingredientList ul li.ingredient-liquid-3 {
  background-image: url("../images/sprites/liquid_3.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px; }

body main.newdrink section.ingredientList ul li.ingredient-liquid-4 {
  background-image: url("../images/sprites/liquid_4.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px; }

body main.newdrink section.ingredientList ul li.ingredient-powder-0 {
  background-image: url("../images/sprites/powder_0.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px; }

body main.newdrink section.ingredientList ul li.ingredient-powder-1 {
  background-image: url("../images/sprites/powder_1.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px; }

body main.newdrink section.ingredientList ul li.ingredient-powder-2 {
  background-image: url("../images/sprites/powder_2.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px; }

body main.newdrink section.ingredientList ul li.ingredient-powder-3 {
  background-image: url("../images/sprites/powder_3.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px; }

body main.newdrink section.ingredientList ul li.ingredient-syrup-0 {
  background-image: url("../images/sprites/syrup_0.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px; }

body main.newdrink section.ingredientList ul li.ingredient-syrup-1 {
  background-image: url("../images/sprites/syrup_1.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px; }

body main.newdrink section.ingredientList ul li.ingredient-syrup-2 {
  background-image: url("../images/sprites/syrup_2.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px; }

body main.newdrink section.ingredientList ul li span {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 22px;
  padding: 2px;
  margin-left: 10px;
  border-radius: 100%;
  text-align: center;
  background-color: #00aabb;
  color: white; }

body main.newdrink section.ingredientList ul li::after {
  position: relative;
  top: 2px;
  right: -10px;
  color: #412919;
  font-size: 120%;
  font-family: "Font Awesome 6 Pro";
  font-weight: 900;
  content: '\f055'; }

body main.newdrink section.ingredientList ul li:hover, body main.newdrink section.ingredientList ul li:focus {
  text-shadow: 0 0 3px #00aabb;
  font-weight: 600; }

body main.newdrink section.ingredientList ul li:hover span, body main.newdrink section.ingredientList ul li:focus span {
  text-shadow: none; }

body main.newdrink section.ingredientList ul li:hover::after, body main.newdrink section.ingredientList ul li:focus::after {
  color: #00aabb;
  text-shadow: none; }

@media screen and (min-width: 950px) {
  body main.newdrink section.ingredientList {
    left: -10%; } }

@media screen and (max-width: 949px) and (min-width: 500px) {
  body main.newdrink section.ingredientList {
    width: 250px; } }

@media screen and (max-width: 800px) {
  body main.newdrink section.ingredientList {
    width: 250px;
    border-radius: 0px 30px 30px 0px;
    left: -225px; }
  body main.newdrink section.ingredientList ul {
    padding-right: 30px; }
  body main.newdrink section.ingredientList:hover, body main.newdrink section.ingredientList:focus {
    left: -3px; } }

body main.newdrink input {
  display: block;
  position: absolute;
  bottom: 30px;
  margin-right: auto;
  left: 0;
  right: 0;
  display: block;
  width: 50%;
  min-width: 150px;
  font-size: 150%;
  margin: 15px auto;
  padding: 3px;
  background: transparent !important;
  background-color: transparent !important;
  border: none;
  border-bottom: 3px dashed #4800aa;
  text-align: center; }

body main.newdrink input:focus, body main.newdrink input:hover, body main.newdrink input:focus-visible, body main.newdrink input:focus-within {
  box-shadow: 3px 3px 5px 0px #4800aa, 3px -3px 5px 0px #4800aa, -3px 3px 5px 0px #4800aa, -3px -3px 5px 0px #4800aa;
  outline: none; }

body main.newdrink input:-internal-autofill-selected {
  appearance: menulist-button;
  background-color: unset !important; }

body main.newdrink .drink-mod-block {
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 5;
  transition: top .5s ease, bottom .5s ease; }

body main.newdrink .drink-mod-block button {
  display: block;
  margin-bottom: 10px;
  padding-top: 4px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #00aabb;
  font-size: 190%;
  color: #FFFFFF;
  box-shadow: 5px 5px 7px 0px black; }

body main.newdrink .drink-mod-block button.drink-save:after {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
  content: '\1f4be'; }

body main.newdrink .drink-mod-block button.drink-size-increase:after {
  font-family: "Font Awesome 6 Pro";
  font-weight: 900;
  content: '\f139'; }

body main.newdrink .drink-mod-block button.drink-size-decrease:after {
  font-family: "Font Awesome 6 Pro";
  font-weight: 900;
  content: '\f13a'; }

body main.newdrink .drink-mod-block button:hover, body main.newdrink .drink-mod-block button:focus {
  background: #4800aa; }

body main.newdrink .drink-mod-block button:disabled {
  background: #555555;
  box-shadow: none; }

@media screen and (max-width: 480px) {
  body main.newdrink .drink-mod-block {
    top: unset;
    bottom: 125px; } }

body main .profile h1, body main .profile h2, body main .profile h3, body main .profile h4, body main .profile h5, body main .profile h6 {
  text-align: center;
  margin-bottom: 10px; }

body main .profile h2 {
  font-size: 2rem; }

body main .profile h3 {
  color: #4800aa; }

body main .profile h4 {
  font-size: 1.5rem;
  margin: 0px; }

body main .profile .settings {
  padding: 1rem;
  border-top: 1px solid grey; }

body main .profile .settings .userAvatar {
  display: flex; }

body main .profile .settings .userAvatar img {
  display: none; }

body main .profile .settings .userAvatar h1 {
  font-size: 1.5rem; }

body main .profile .settings ul {
  display: none; }

body main .profile .settings ul li {
  padding: 5px; }

body main .profile div.display-drink-details {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  align-self: flex-end; }

body main .profile div.display-drink-details .cup-holder {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 50%;
  margin: 10px;
  padding: 20px; }

body main .profile div.display-drink-details .cup-holder p.error {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  padding: 5px 0px 0px 0px;
  border-radius: 50%;
  background: #ad0c0c;
  color: white;
  text-align: center;
  font-weight: 400; }

body main .profile div.display-drink-details .cup-holder .my-cup {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
  padding: 17px 0px 5px;
  background: linear-gradient(121deg, #E0DDB0 0%, #E0DDB0 41%, #000000 100%);
  border-bottom-left-radius: 100% 32px;
  border-bottom-right-radius: 100% 32px;
  box-shadow: 0px 20px 15px -23px black;
  transition: height .5s ease, width .5s ease;
  /* Ingredient Vars */ }

body main .profile div.display-drink-details .cup-holder .my-cup.cup-8oz {
  height: 230px;
  width: 160px; }

body main .profile div.display-drink-details .cup-holder .my-cup.cup-12oz {
  height: 260px;
  width: 175px; }

body main .profile div.display-drink-details .cup-holder .my-cup.cup-16oz {
  height: 300px;
  width: 175px; }

body main .profile div.display-drink-details .cup-holder .my-cup::before {
  content: "";
  position: absolute;
  z-index: 1;
  height: calc(100% - 15px);
  width: 20%;
  top: 7px;
  left: -13%;
  background-color: #FFFFFF;
  transform: skewX(3deg); }

body main .profile div.display-drink-details .cup-holder .my-cup::after {
  content: "";
  position: absolute;
  z-index: 1;
  height: calc(100% - 7px);
  width: 20%;
  top: 7px;
  right: -13%;
  background-color: #FFFFFF;
  transform: skewX(-3deg); }

body main .profile div.display-drink-details .cup-holder .my-cup div.ingredient {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 10%;
  margin-top: -10px;
  padding-top: 0px;
  border-bottom-left-radius: 100% 32px;
  border-bottom-right-radius: 100% 32px;
  color: #FFFFFF;
  overflow: hidden; }

body main .profile div.display-drink-details .cup-holder .my-cup div.ingredient.base {
  height: 60%;
  background: radial-gradient(#2e1f15 0%, #2e1f15 50%, #000000 100%); }

body main .profile div.display-drink-details .cup-holder .my-cup div.ingredient.main {
  height: 12%;
  background: radial-gradient(#ffffff 0%, #ffffff 50%, #000000 100%);
  color: #000000; }

body main .profile div.display-drink-details .cup-holder .my-cup div.ingredient.flavor {
  height: 10%;
  background: radial-gradient(#661133 0%, #661133 50%, #000000 100%); }

body main .profile div.display-drink-details .cup-holder .my-cup div.ingredient.topping {
  height: 8%;
  background: radial-gradient(#90d6d6 0%, #90d6d6 50%, #000000 100%); }

body main .profile div.display-drink-details .cup-holder .my-cup div.ingredient span {
  margin-top: 7px;
  font-size: 80%;
  position: relative;
  cursor: default; }

body main .profile div.display-drink-details .cup-holder h3 {
  display: block;
  width: 100%;
  margin-top: 10px;
  text-align: center; }

@media screen and (max-width: 480px) {
  body main .profile div.display-drink-details .cup-holder {
    display: none; } }

body main .profile div.display-drink-details div.card-wrapper {
  flex: 1 1 70%;
  min-width: 50%; }

body main .profile div.display-drink-details div.card-wrapper .bpDrinkTemplateCard {
  background-color: #e9e8e7;
  border-radius: 25px;
  margin: 1rem auto;
  max-width: 500px;
  padding: 1rem 0;
  z-index: 2; }

body main .profile div.display-drink-details div.card-wrapper .bpDrinkTemplateCard p {
  text-align: center;
  margin: 5px 5px; }

body main .profile div.display-drink-details div.card-wrapper .bpDrinkTemplateCard ul {
  width: 80%;
  margin: 0 auto; }

body main .profile div.display-drink-details div.card-wrapper .bpDrinkTemplateCard ul li {
  display: flex;
  justify-content: space-between; }

body main .businessPortal {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

body main .businessPortal .bpViewSelect .bpWelcome {
  font-family: "Arimo", sans-serif;
  font-size: 2rem;
  padding: 1rem; }

body main .businessPortal .bpViewSelect button {
  margin: 0.5rem; }

body main .businessPortal .bpViewIngredients .bpAvailable h3 {
  font-family: "Arimo", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  padding: 0.6rem; }

body main .businessPortal .bpViewIngredients .bpAvailable ul {
  border: 1px solid grey;
  padding: 0.3rem; }

body main .businessPortal .bpViewIngredients .bpAvailable ul li {
  border-bottom: 1px solid grey;
  padding: 0.2rem;
  display: flex;
  justify-content: space-between; }

body main .businessPortal .bpViewIngredients .bpAvailable ul li span {
  width: 25%; }

body main .businessPortal .bpViewIngredients .bpActions h3 {
  margin: 0.5rem;
  text-align: center; }

body main .businessPortal .bpViewIngredients .bpActions .bpForm {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  padding: 0.6rem; }

body main .businessPortal .bpViewIngredients .bpActions .bpForm .newTypeLabel {
  margin: 0 auto;
  width: 60%;
  text-align: center; }

body main .businessPortal .bpViewIngredients .bpActions .bpForm .newTypeLabel p {
  display: flex;
  justify-content: space-evenly; }

body main .businessPortal .bpViewIngredients .bpActions .bpForm .newTypeLabel p input {
  margin: auto 0;
  width: fit-content; }

body main .businessPortal .bpViewIngredients .bpActions select {
  margin: 0.2rem; }

body main .businessPortal .bpViewIngredients .bpActions input {
  margin: 0.2rem; }

body main .businessPortal .bpViewIngredients .bpActions .newNameLabel {
  margin: 0 auto;
  width: 50%;
  text-align: center; }

body main .businessPortal .bpViewIngredients .bpActions .newVeganLabel {
  margin: 0 auto;
  width: 50%;
  text-align: center; }

body main .businessPortal .bpViewIngredients .bpActions .newPriceLabel {
  display: flex;
  margin: 0 auto;
  width: 60%; }

body main .businessPortal .bpViewIngredients .bpActions .newPriceLabel p {
  min-width: fit-content;
  margin: auto 0; }

body main .businessPortal .bpViewIngredients .bpActions .newPriceLabel input {
  margin: auto 0;
  width: 27%; }

body main .businessPortal .bpViewDrinks {
  padding: 0.4rem; }

body main .businessPortal .bpViewDrinks .bpDrinkTemplates {
  border: 1px solid grey;
  padding: 0.5rem; }

body main .businessPortal .bpViewDrinks .bpDrinkTemplates h3 {
  font-size: 1.4rem; }

body main .businessPortal .bpViewDrinks .bpDrinkTemplates .bpDrinkTemplateCardBox {
  margin: 1rem 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey; }

body main .businessPortal .bpViewDrinks .bpDrinkTemplates .bpDrinkTemplateCardBox .bpDrinkTemplateCard {
  border: 1px solid grey;
  margin: 1rem 0.3rem;
  padding: 0.3rem; }

body main .businessPortal .bpViewDrinks .bpDrinkTemplates .bpDrinkTemplateCardBox .bpDrinkTemplateCard h5 {
  text-align: center;
  margin: 0.2rem; }

body main .businessPortal .bpViewDrinks .bpDrinkTemplates .bpDrinkTemplateCardBox .bpDrinkTemplateCard p {
  text-align: center;
  font-size: 1rem;
  margin: 0.3rem; }

body main .businessPortal .bpViewDrinks .bpDrinkTemplates .bpDrinkTemplateCardBox .bpDrinkTemplateCard h6 {
  font-size: 1rem;
  padding: 0.3rem; }

body main .businessPortal .bpViewDrinks .bpDrinkTemplates .bpDrinkTemplateCardBox .bpDrinkTemplateCard ul {
  width: 75%;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin: 0 auto; }

body main .businessPortal .bpViewDrinks .bpDrinkTemplates .bpDrinkTemplateCardBox .bpDrinkTemplateCard ul li {
  padding: 0.2rem 1rem;
  display: flex;
  justify-content: space-between; }

body main .orderCard h2 {
  font-size: 2rem;
  margin-bottom: 1rem; }

body main .orderCard ul {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0.8rem; }

body main .orderCard ul li {
  display: flex;
  justify-content: space-evenly; }

body main .orderCard ul li span {
  width: fit-content; }

body main .orderCard ul li button {
  font-size: 1.3rem;
  background-color: white;
  padding: 1px;
  border: none;
  transition: transform 200ms ease; }

body main .orderCard ul li button:hover, body main .orderCard ul li button:focus {
  color: red;
  transform: scale(1.1); }

body main .orderCard ul hr {
  margin: 5px; }

body main .orderCard div {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border: none; }

body main .orderCard div p {
  border: none;
  text-align: center; }

body main .orderCard div form {
  margin: 0 auto;
  padding: 5px;
  border: none; }

body main .orderCard div form select {
  padding: 5px;
  margin: 5px;
  border-radius: 5px; }

body main .orderCard div form button {
  margin: 5px;
  padding: 5px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  transition: all 250ms ease; }

body main .orderCard div form button:hover {
  opacity: 0.8;
  transform: scale(0.95); }

body footer {
  display: block;
  position: fixed;
  z-index: 99;
  width: 100%;
  bottom: 0px;
  left: 0px;
  padding: 5px 0px;
  background-color: #412919; }

body footer p {
  width: 100%;
  text-align: center;
  color: #FFFFFF; }
