@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Lemonada:wght@300&family=Medula+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%; }

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit; }

ol,
ul {
  list-style: none; }

/** BRAND COLORS **/
/** GLOBAL FONTS **/
body {
  font-size: 18px;
  font-family: "Arimo", sans-serif; }
  body header {
    display: block;
    position: relative;
    width: 100%;
    background-color: #00aabb;
    height: 150px;
    margin-bottom: 20px; }
    body header img.logo {
      display: block;
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 1;
      width: 120px;
      height: 120px;
      background-color: #00aabb;
      border-radius: 50% 50% 50% 50%;
      box-shadow: 5px 10px 8px -5px black; }
    body header nav {
      display: flex;
      position: relative;
      top: 2px;
      width: 100%;
      height: 100%;
      padding: 15px;
      align-items: flex-start;
      justify-content: flex-end;
      align-content: space-between;
      background-color: #FFFFFF;
      border-radius: 400px 0px 0px 0px / 100% 0px 0px 0px;
      box-shadow: inset 7px 14px 15px -10px black; }
  body main {
    display: block;
    max-width: 800px;
    padding: 15px;
    margin: 0px auto 30px auto; }
    body main .cup-holder {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: flex-end; }
      body main .cup-holder .my-cup {
        display: flex;
        position: relative;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
        padding: 25px 0px 5px;
        background: linear-gradient(121deg, #E0DDB0 0%, #E0DDB0 41%, #000000 100%);
        border-bottom-left-radius: 100% 32px;
        border-bottom-right-radius: 100% 32px;
        box-shadow: 0px 20px 15px -23px black;
        /* Ingredient Vars */
        /* Inherited Vars */ }
        body main .cup-holder .my-cup.cup-8oz {
          height: 300px;
          width: 250px; }
        body main .cup-holder .my-cup.cup-12oz {
          height: 400px;
          width: 300px; }
        body main .cup-holder .my-cup.cup-16oz {
          height: 500px;
          width: 300px; }
        body main .cup-holder .my-cup::before {
          content: "";
          position: absolute;
          height: calc(100% - 15px);
          width: 20%;
          top: 15px;
          left: -13%;
          background-color: #FFFFFF;
          -webkit-transform: skewX(3deg); }
        body main .cup-holder .my-cup::after {
          content: "";
          position: absolute;
          height: calc(100% - 15px);
          width: 20%;
          top: 15px;
          right: -13%;
          background-color: #FFFFFF;
          -webkit-transform: skewX(-3deg); }
        body main .cup-holder .my-cup div.ingredient {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          margin-top: -10px;
          padding-top: 5px;
          border-bottom-left-radius: 100% 32px;
          border-bottom-right-radius: 100% 32px;
          color: #FFFFFF; }
          body main .cup-holder .my-cup div.ingredient.coffee {
            height: 50%;
            background: linear-gradient(180deg, #2e1f15 0%, #2e1f15 50%, #000000 100%); }
          body main .cup-holder .my-cup div.ingredient.syrup {
            height: 10%;
            background: linear-gradient(180deg, #661133 0%, #661133 50%, #000000 100%); }
          body main .cup-holder .my-cup div.ingredient.percent-5 {
            height: 5%; }
          body main .cup-holder .my-cup div.ingredient.percent-10 {
            height: 10%; }
          body main .cup-holder .my-cup div.ingredient.percent-15 {
            height: 15%; }
          body main .cup-holder .my-cup div.ingredient.percent-20 {
            height: 20%; }
          body main .cup-holder .my-cup div.ingredient.percent-25 {
            height: 25%; }
          body main .cup-holder .my-cup div.ingredient.percent-30 {
            height: 30%; }
          body main .cup-holder .my-cup div.ingredient.percent-35 {
            height: 35%; }
          body main .cup-holder .my-cup div.ingredient.percent-40 {
            height: 40%; }
          body main .cup-holder .my-cup div.ingredient.percent-45 {
            height: 45%; }
          body main .cup-holder .my-cup div.ingredient.percent-50 {
            height: 50%; }
          body main .cup-holder .my-cup div.ingredient.percent-55 {
            height: 55%; }
          body main .cup-holder .my-cup div.ingredient.percent-60 {
            height: 60%; }
          body main .cup-holder .my-cup div.ingredient.percent-65 {
            height: 65%; }
          body main .cup-holder .my-cup div.ingredient.percent-70 {
            height: 70%; }
          body main .cup-holder .my-cup div.ingredient.percent-75 {
            height: 75%; }
          body main .cup-holder .my-cup div.ingredient.percent-80 {
            height: 80%; }
          body main .cup-holder .my-cup div.ingredient.percent-85 {
            height: 85%; }
          body main .cup-holder .my-cup div.ingredient.percent-90 {
            height: 90%; }
          body main .cup-holder .my-cup div.ingredient.percent-95 {
            height: 95%; }
          body main .cup-holder .my-cup div.ingredient.percent-100 {
            height: 100%; }
    body main .businesssPortal {
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      body main .businesssPortal .bpViewSelect {
        display: flex;
        flex-direction: row; }
        body main .businesssPortal .bpViewSelect .bpWelcome {
          font-size: 2rem; }
  body footer {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    padding: 5px 0px;
    background-color: #412919; }
    body footer p {
      width: 100%;
      text-align: center;
      color: #FFFFFF; }
