/** Reset All Styles **/
@import "./reset/reset.scss";

/** Variable files (Some Brand Specific) **/
@import "./global/_colors.scss";
@import "./global/_fonts.scss";
@import "./global/_images.scss";
@import "./global/_flair.scss";
@import "./global/_breakpoints.scss";

/** Overwrite for React root **/
html, body, .App, #root, .root {
    width: 100%;
    height: 100%;
}


/** Page Elements **/
body{
    font-size: 18px;
    font-family: $font_1;

    h1{
        font-size:150%;
        margin-bottom: 20px;
    }

    h2{
        font-size: 140%;
        margin-bottom: 15px;
    }

    h3 {
        font-size: 130%;
        margin-bottom: 5px;
    }

    /** <header> **/
    @import "./components/_header.scss";

    /** <main> **/
    @import "./components/_content.scss";

    /** <footer> **/
    @import "./components/_footer.scss";
}
